#root {
  font-family: Arial, Helvetica, sans-serif;

  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  
  display: block;
}

.grid-container {
  display: grid;

  grid-template-columns: 1fr 2fr;

  min-height: max(850px, calc(100vh - 4rem));
  height: calc(100vh - 4rem);
}

.left {
  display: grid;

  grid-column: 1 1;

  margin: 0;
  background: transparent;
  
  height: 100%;
}

.menu {
  height: 100%;
  list-style: none;

  display: flex;
  flex-direction: column;

  align-content: flex-end;
  justify-content: flex-end;
}

.menu>.button {
  display: flex;

  font-size: 20pt;
  height: fit-content;
  text-align: center;
  vertical-align: middle;

  justify-content: center;
  align-content: center;

  border-radius: 5rem;

  line-height: 100%;
  flex-grow: 1;
  
  transition: flex-grow 1s cubic-bezier(.79,.14,.15,.86), border-radius 2s cubic-bezier(.79,.14,.15,.86);
  
  user-select: none;
}

.menu>.button>a {

  color: white;
  text-decoration: none;
  margin: auto;
}

.ngray {
  background-color: var(--neutralgray);
}

.blue {
  background-color: var(--main-blue);
}

.lora {
  background-color: var(--main-l-orange);
}

.dora {
  background-color: var(--main-d-orange);
}

.trans {
  background: transparent;
}

.menu>.button.active {

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 2;

}

.right {
  display: grid;
  grid-column: 2 2;
}

.nopm {
  padding: 0;
  margin: 0;
}

.content {
  box-sizing: border-box;
  opacity: 1;
  color: transparent;

  transition: all 2s cubic-bezier(.79,.14,.15,.86), color 0s;

  font-size: 16pt;

  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;

  height: 100%;
  padding: 3rem;
}

.title {
  display: inline-block;

  line-height: 3rem;

  width: 60%;

  text-align: right;
  font-size: 3rem;
}

.title-right {
  display: inline-block;

  line-height: 3rem;

  padding-left: 1rem;
  font-size: 3rem;
}

.fancy-lora {
  display: inline;  
  padding-left: 1rem;

  font-size: 4rem;

  width: 20%;

  color: transparent;
}

.fancy-lora.title {
  display: inline-block;
  width: 60%;
  text-align: right;
}

.fancy-lora.active-cnt {
  transition: all 1s;
  color: var(--main-l-orange);
}

.fancy-dora {
  display: inline;  
  padding-left: 1rem;

  font-size: 4rem;

  width: 20%;

  color: transparent;
}

.fancy-dora.title {
  display: inline-block;
  width: 60%;
  text-align: right;
}

.fancy-dora.active-cnt {
  transition: all 1s;
  color: var(--main-d-orange);
}


.font-brush { 
  font-family: 'Brush Script MT', 'cursive';
}

.font-large {
  font-size: 18pt;
}

.font-larger {
  font-size: 22pt;
}

.font-lora {
  color: transparent;
}

.font-lora.active-cnt {
  color: var(--main-l-orange);
  transition: color 1s;
}

.tl_round {
  border-top-left-radius: 5rem;
}

.bl_round {
  border-bottom-left-radius: 5rem;
}

.grid-container>.active-cnt {
  color: white;
  transition: color 1s ease;
}

.inline {
  display: inline-block;
}

.text {
  box-sizing: border-box;
  
  padding-top: 1rem;
  overflow: hidden;
}

.text-tl { 
  box-sizing: border-box;

  width: 50%;
  overflow: hidden;
}

.text-bt {
  padding-top: 1rem;
}

.img {
  border-radius: 5rem;
  opacity: 0;

  margin-bottom: auto;

  width: calc(50% - 3rem);
  height: auto;
}

.img.active-cnt {
  opacity: 1;
  transition: all 2s ease;
}

#ws-link {
  color: transparent;
}

#ws-link.active-cnt {
  transition: all 1s;
  color: white;
}

.cd-link{
  color: transparent;
}

.cd-link.active-cnt {
  transition: all 1s;
  color: white;
}

.list>.entry {
  padding-block: .25rem;
}

@media only screen and (max-width: 600) {
  content> * {
    display: block;
  }
}