:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--neutralgray);
  opacity: 1;
  background-image: repeating-radial-gradient(#000000 5%, #000000 75%, transparent 75%, transparent 100%),linear-gradient(45deg, transparent 25%, #000 100%);
  /* background-image: repeating-radial-gradient(transparent 25%, #000000 25%, #000000 75%, transparent 75%, transparent 100%),linear-gradient(45deg, transparent 25%, #000 100%); */
  background-size: 40px 40px;

  transition: background-color 2s cubic-bezier(.79,.14,.15,.86);
  will-change: background-color background-position;

  animation-name: bgmove;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.65,.05,.36,1);

  --neutralgray: #353531;
  --navgray: #4a4a4a;
  --main-blue: #016fb9;
  --main-l-orange: #ff9505;
  --main-d-orange: #ec4e20;
  --bg-color: var(--navgray);
}

body {
  padding: 1rem;
}

@keyframes bgmove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20vw 0;
  }
  100% {
    background-position: 0 0;
  }
}